acres==0.5.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.9.5
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
-e git+https://rnd-gitlab-ca-g.huawei.com/ici/llm/agent/slideagent.git@d41e44c7cdd144343367e93f5ae438cabb515e02#egg=aworld&subdirectory=AWorld
babel==2.17.0
bcrypt==5.0.0
beautifulsoup4==4.13.5
bidict==0.23.1
bleach==6.2.0
bracex==2.6
cachetools==6.2.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
ci-info==0.3.0
cli_exit_tools==1.2.7
click==8.2.1
coloredlogs==15.0.1
comm==0.2.3
configobj==5.0.9
configparser==7.2.0
contourpy==1.3.3
cryptography==45.0.7
cycler==0.12.1
dashscope==1.24.2
dataclasses-json==0.6.7
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
distro==1.9.0
docutils==0.22.2
dtaidistance==2.3.13
durationpy==0.10
etelemetry==0.3.1
eval_type_backport==0.2.2
executing==2.2.1
fastapi==0.116.1
fastdtw==0.3.4
fastjsonschema==2.21.2
ffmpy==0.6.1
filelock==3.19.1
fitz==0.0.1.dev2
flatbuffers==25.9.23
fonttools==4.59.2
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.9.0
google-auth==2.41.0
googleapis-common-protos==1.70.0
gradio==5.23.1
gradio_client==1.8.0
groovy==0.1.2
grpcio==1.75.1
h11==0.16.0
hf-xet==1.1.9
httpcore==1.0.9
httplib2==0.31.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.34.4
humanfriendly==10.0
idna==3.10
ifaddr==0.2.0
igittigitt==2.1.5
importlib_metadata==8.6.1
importlib_resources==6.5.2
invoke==2.2.0
ipykernel==6.30.1
ipython==9.5.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.2
json5==0.12.1
json_repair==0.54.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
kubernetes==32.0.1
langchain-core==0.3.76
langchain-text-splitters==0.3.11
langsmith==0.4.31
lark==1.2.2
lib-detect-testenv==2.0.8
loguru==0.7.3
looseversion==1.3.0
lxml==6.0.1
markdown-it-py==4.0.0
markdown2==2.5.4
markdown_analysis==0.1.5
markdownify==1.2.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.6
matplotlib-inline==0.1.7
mcp==1.10.1
-e git+https://rnd-gitlab-ca-g.huawei.com/ici/llm/agent/slideagent.git@d41e44c7cdd144343367e93f5ae438cabb515e02#egg=mcp_server_filesystem&subdirectory=slide_generation_demo/mcp_server_filesystem
mdurl==0.1.2
mistune==3.1.4
modelscope_studio==1.1.7
mpmath==1.3.0
multidict==6.6.4
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
nibabel==5.3.2
nicegui==2.24.2
nipype==1.10.0
notebook==7.4.5
notebook_shim==0.2.4
numpy==2.2.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
oauthlib==3.3.1
onnxruntime==1.23.2
openai==1.106.1
opencv-python==4.12.0.88
opentelemetry-api==1.32.1
opentelemetry-exporter-otlp==1.32.1
opentelemetry-exporter-otlp-proto-common==1.32.1
opentelemetry-exporter-otlp-proto-grpc==1.32.1
opentelemetry-exporter-otlp-proto-http==1.32.1
opentelemetry-proto==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
orjson==3.11.3
overrides==7.7.0
packaging==25.0
pandas==2.3.2
pandocfilters==1.5.1
paramiko==4.0.0
parso==0.8.5
pathlib==1.0.1
pathspec==0.12.1
pdfminer.six==20250506
pdfplumber==0.11.7
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.4.0
prometheus_client==0.22.1
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==5.29.5
prov==2.1.1
pscript==0.7.7
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.30
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.9
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydot==4.0.1
pydub==0.25.1
Pygments==2.19.2
PyMuPDF==1.26.6
pymupdf-layout==1.26.6
pymupdf4llm==0.2.4
PyNaCl==1.6.0
pyparsing==3.2.3
pypdf==6.4.0
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
python-engineio==4.12.3
python-json-logger==3.3.0
python-magic==0.4.27
python-multipart==0.0.20
python-pptx==1.0.2
python-socketio==5.14.1
pytidylib==0.3.2
pytz==2025.2
pyvis==0.3.2
pyxnat==1.6.4
PyYAML==6.0.2
pyzmq==27.0.2
qwen-agent==0.0.29
rank-bm25==0.2.2
rdflib==7.4.0
referencing==0.36.2
regex==2025.9.1
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
rpds-py==0.27.1
rsa==4.9.1
ruff==0.12.12
safehttpx==0.1.6
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==5.1.2
shellingham==1.5.4
simple-websocket==1.1.0
simplejson==3.20.2
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.8
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.47.3
structlog==25.4.0
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenizers==0.22.1
tomlkit==0.13.3
torch==2.9.1
torchvision==0.24.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
transformers==4.57.3
triton==3.5.1
typer==0.17.3
types-python-dateutil==2.9.0.20250822
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
uri-template==1.3.0
urllib3==1.26.12
uvicorn==0.35.0
uvloop==0.21.0
vbuild==0.8.2
watchfiles==1.1.0
wcmatch==10.1
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
widgetsnbextension==4.0.14
wrapt==1.17.3
wsproto==1.2.0
xlsxwriter==3.2.5
yarl==1.20.1
zipp==3.23.0
zstandard==0.25.0
